body{
    background-color: rgb(180, 180, 180);
}
header{
    background-color: rgb(180, 180, 180);
    display: flex;
    justify-content: center;
}
header h1{
    padding-left: 500px;
    padding-top: 70px;
}

.columnas{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    height: 450px;
}

.columna1{
    padding-right: 200px;
    margin-top: 50px;
}
.columna1 img{
    border-radius: 50%;

}
.columna1 p{
    padding-left: 70px;

}

.columna2{
    width: 500px;
    margin-top: 50px;
}

footer{
    background-color: rgb(180, 180, 180);
    display: flex;
    justify-content: center;
}

footer p{
    padding: 10px;
}